* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
font-family: 'Poppins', sans-serif;
margin: 0;
}

header { /*cabeçalho pagina*/
    display: flex; /*deixa os itens em linha*/
    width: 100%; /*define largura */
    height: 10vh;
    background-color: black;
    align-items: center;
    margin: auto; /*como temos 90% margura o auto deixa as margens iguais*/
}

.nav-links, 
.cart {
    display: flex; /*deixa todos em linha*/
}
.logo-container {
    flex: 1; /*pega todo espaço empurrando os itens para a direita*/
    color: white;
}
.logo-container h1 { /*IMPERMOURA*/
    font-size: 30px;
    text-align: left;
    border: 0px;
    margin: 0px;
    margin-bottom: -10px;
    padding: 0px;
    padding-left: 50px;
    
}
.logo-container h2 { /*Impermeabilizações*/
    font-size: 15px;
    border: 0px;
    margin: 0px;
    margin-left: 20px;
    padding: 0px;
    padding-left: 50px;
    }
nav {
    flex: 2; /*colocando flex 2 faz com que pegue mais espaço que os outros 2*/
}

.nav-links {
    justify-content: space-around; /*pega o espaço dentro da div e deixa igual para todos os itens*/
    list-style: none;

}

.nav-Link {
    color: white;
    font-size: 20px;
    text-decoration: none;
}
/*-----------------------------------------------------------------------------------------*/
/*--------TELA INICIAL E FOOTER-----------------------------------------*/
.um {
    margin: 5% 15% 5% 15%;
}
.um h1 {
    text-align: center;
    font-size: 30px;
}
.um p {
    font-size: 20px;
    text-align: justify;
}

.galeria-slide {
    margin: 5px auto;
    width: 533px;
    height: 400px;
    position: relative;
    overflow: hidden;
}

.foto {
    position: absolute;
    opacity: 0;
    animation-name: animacao;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-direction:normal
}

@keyframes animacao{
    25% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}

.foto:nth-child(1){
}
.foto:nth-child(2){
    animation-delay: 5s;
}
.foto:nth-child(3){
    animation-delay: 10s;
}
.foto:nth-child(4){
    animation-delay: 15s;
}
/*--------------------------------------------*/

.tres {
    margin: 5% 10% 5% 10%;
    
}
.tres h2 {
    font-size: 20px;
    text-align: justify;
    font-weight:400
}
.tres h3 { /*Peça ja seu Orçamento*/
    margin-left: 40%;
    margin-top: 30px;
    background-color: darkred;
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: lighter;
    width: 330px;
    text-align: center;
    border-radius: 5px;
}
.tres a {
    text-decoration: none;
}
.tres ul {
    margin-top: 50px;
    margin-left: 100px;
}
/*-------------------*/
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 52px;
    background-color: slategrey;
}
.footer h1 {
    font-size: 20px;
    text-align: center;
    
}
.footer h2, a {
    font-size: 15px;
    color: black;
    text-align: center;
}

.whatsapp-dois {
    position: fixed;
    left: 62%;
    bottom: 78%;
    width: 60%;
    text-align: center;
}
.whats {
    width: 70px;
    height: 70px;
}
/*--------TELA DE SERVIÇOS-----------------------------------------*/
.servicos {
    margin: auto;
}
.servicos h1 {
    font-size: 30px;
    text-align: center;
    margin: 50px 0px 0px 10px;
}
.servicos h2 {
    font-size: 20px;
    text-align: center;
}

/*parte dos numeros dos serviços de 01ate06*/
.numeros { /* Num 1, 2 e 3*/
    width: 90%;
    margin: auto;
    display: inline-flex;
}
/*------------------*/
.num-um {
    margin-left: 10%;
    padding: 5px;
    width: 33%;
}
.num-um h1{
    text-align: left;
    font-size: 110px;
    color: gray;
}
.num-um h2{
    text-align: left;
    font-size: 18px;
}
.num-um h3{
    text-align: left;
    font-size: 12px;
} 
/*------------------*/
.num-dois {
    padding: 5px;
    width: 33%;
}
.num-dois h1{
    text-align: left;
    font-size: 110px;
    color: gray;
}
.num-dois h2{
    text-align: left;
    font-size: 18px;
}
.num-dois h3{
    text-align: left;
    font-size: 12px;
} 
/*------------------*/
.num-tres {
    width: 33%;
    padding: 5px;
}
.num-tres h1{
    text-align: left;
    font-size: 110px;
    color: gray;
}
.num-tres h2{
    text-align: left;
    font-size: 18px;
}
.num-tres h3{
    text-align: left;
    font-size: 12px;
} 
/*---------------------*/
.numeros-dois { /* Num 4, 5 e 6*/
    width: 90%;
    height: 400px;
    margin: auto;
    display: inline-flex;
}
/*------------------*/
.num-quatro {
    margin-left: 10%;
    padding: 5px;
    width: 33%;
}
.num-quatro h1{
    text-align: left;
    font-size: 110px;
    color: gray;
}
.num-quatro h2{
    text-align: left;
    font-size: 18px;
}
.num-quatro h3{
    text-align: left;
    font-size: 12px;
} 
/*------------------*/
.num-cinco {
    padding: 5px;
    width: 33%;
}
.num-cinco h1{
    text-align: left;
    font-size: 110px;
    color: gray;
}
.num-cinco h2{
    text-align: left;
    font-size: 18px;
}
.num-cinco h3{
    text-align: left;
    font-size: 12px;
} 
/*------------------*/
.num-seis {
    width: 33%;
    padding: 5px;
}
.num-seis h1{
    text-align: left;
    font-size: 110px;
    color: gray;
}
.num-seis h2{
    text-align: left;
    font-size: 18px;
}
.num-seis h3{
    text-align: left;
    font-size: 12px;
} 
/*---------------------*/
/*--------TELA DE EMPRESA-----------------------------------------*/
.empresa {
    width: 90%;
    margin: 5% 15% 5% 15%;
    display: inline-flex;
}
.empresa-logo{
    width: 30%;
    padding-top: 60px;
}
.empresa-logo img {
    border-radius: 10px;
}
.quem-somos{
    width: 40%;
}
.empresa h1 {
    font-size: 35px;
    margin-bottom: 10px;
}
.empresa h2 {
    font-size: 20px;
    text-align: justify;
    font-weight: normal;
}
.empresa-contato{
    width: 90%;
    margin: 1% 15% 5% 15%;
}
.empresa-fale-conosco h1 {
    font-size: 25px;
}
.empresa-fale-conosco h2 {
    font-size: 15px;
}
/*--------TEELA DE CONTATO-----------------------------------------*/
.contato {
    width: 80%;
    margin: auto;
    margin-top: 25px;
}
.contato h1{
    text-align: center;
}
.contato h2{
    text-align: justify;
    font-size: 20px;
}
.contato h3{
    font-size: 15px;
    text-decoration: none;
}

.fale-conosco {
    margin: 15px 10px 5px 0px;
}
/*-------------------------------------------------*/
.email {
    display: flex;
    margin-top: 15px;
}
.email img{
    width: 29px;
    height: 29px;
}
.email h3{
    margin-left: 5px;
}
/*-----------------------------------------------------*/
.telefone {
    display: flex;
    margin-top: 5px;
}
.telefone img {
    width: 29px;
    height: 29px;
}
.telefone h3 {
    margin-left: 5px;
}
/*-------------------------------------------------------*/
.instagram {
    display: flex;
    margin-top: 8px;
}
.instagram img {
    width: 29px;
    height: 29px;
}
.instagram h3 {
    margin-left: 5px;
}
/*---------------------------------------------------------------------------------*/
@media screen and (max-width: 1024px) { /*quando atingir 1024 ou menor*/
    .presentation { /*Muda a class presentation*/
        flex-direction: column;
    }
    
} /*manter tudo dentro das chaves da @media*/

/*--------------------------------------------------------------------------------*/

@media screen and (max-width: 768px) { /*quando atingir 768 ou menor*/
    .presentation { /*Muda a class presentation*/
        flex-direction: column;
    }
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}

header{
    align-items: center;
    margin: auto;
}


.logo-container h1 { /*ImperMoura*/
    font-size: 18px;
    margin: 0px;
    text-align: left;
    padding: 0px;
    margin: 0px;

}
.logo-container h2 { /*Impermeabilizações*/
    font-size: 11px;
    text-align: left;
    padding: 0px;
    margin: 0px;
}

.nav-Link {
    font-size: 11px;
}
/*------------------------------*/
.um{
    margin: 10px 20px 10px 20px ;
}
.um h1 {
    font-size: 21px;
    margin-bottom: 20px;
    
}
.um p {
    font-size: 15px;
}

.galeria-slide {
    width: 90%;
    border: 3px solid black;   
}
.tres {
    margin: 10px 20px 10px 20px ;
}
.tres h2{
    font-size: 15px;
    text-align: left;
}
.tres h3{
    margin-left: -1%;
}
.tres ul{
    margin: 20px 10px 20px 20px;
}

.footer{
    height: 40px;
}
.footer h1{
    font-size: 16px;
    
}
.footer h2,a{
    font-size: 13px;
    margin-bottom: 5px;
}
.whatsapp-dois{
    position: fixed;
    left: 61%;
    bottom: 79%;
}
.whats {
    width: 50px;
    height: 50px;
}
/*-----------------------------------------------------------*/
/*Serviços*/
.servicos{
    width: 100%;
    margin: 0;
    padding: 0;
}
.servicos h1{
    font-size: 25px;
}
.servicos h2{
    font-size: 15px;
}
/*-- numeros 01 a 06 --*/
.numeros { /*div com as divs 01 a 03*/
    width: 100%;
    margin: 0;
    margin-left: -30px;
    padding: 0px;
}
.num-um{ 
    width: 33%;
    height: 200px;
}
.num-um h1{
    font-size: 50px;
    margin: 0px;
    padding: 0px;
}
.num-um h2{
    font-size: 14px;
    padding: 0px;
}
.num-um h3{
    font-size: 10px;
}
.num-dois{ 
    width: 33%;
    height: 200px;
}
.num-dois h1{
    font-size: 50px;
    margin: 0px;
    padding: 0px;
}
.num-dois h2{
    font-size: 15px;
}
.num-dois h3{
    font-size: 10px;
}
.num-tres{ 
    width: 33%;
    height: 200px;
}
.num-tres h1{
    font-size: 50px;
    margin: 0px;
    padding: 0px;
}
.num-tres h2{
    font-size: 15px;
}
.num-tres h3{
    font-size: 10px;
}
/**/
.numeros-dois { /*div com as divs 01 a 03*/
    width: 100%;
    height: 230px;
    margin: 0;
    margin-left: -30px;
    padding: 0px;
}
.num-quatro{ 
    width: 33%;
    height: 200px;
}
.num-quatro h1{
    font-size: 50px;
    margin: 0px;
    padding: 0px;
}
.num-quatro h2{
    font-size: 14px;
    padding: 0px;
}
.num-quatro h3{
    font-size: 10px;
}
.num-cinco{ 
    width: 33%;
    height: 200px;
}
.num-cinco h1{
    font-size: 50px;
    margin: 0px;
    padding: 0px;
}
.num-cinco h2{
    font-size: 15px;
}
.num-cinco h3{
    font-size: 10px;
}
.num-seis{ 
    width: 33%;
    height: 200px;
}
.num-seis h1{
    font-size: 50px;
    margin: 0px;
    padding: 0px;
}
.num-seis h2{
    font-size: 15px;
}
.num-seis h3{
    font-size: 10px;
}
/*-----------*/
.tres ul{
    font-size: 15px;
}

/*-----------------Empresa------------------------*/
.empresa{
    width: 100%;
    display: block;
    margin: 10px;
    padding: 0;
}
.empresa-logo{
    padding: 0;
    margin: 0px;
}
.logo {
    width: 100%;
    margin: 10px auto;
    margin-left: 110px;
    
}
.quem-somos{
    width: 90%;
    padding: 0;
    margin: 0;
}
.empresa h1{
    font-size: 20px;
    text-align: center;
}
.empresa h2{
    font-size: 15px;
}
.empresa-contato{
    width: 100%;
    margin: 10px;
    padding: 0;
}
.empresa-fale-conosco h1{
    font-size: 20px;
}
.empresa-fale-conosco h2{
    font-size: 15px;
    font-weight: 500;
}
/*------------------Contato-----------------------------------------------*/
.contato{
    width: 100%;
    margin: 10px auto;
    padding: 10px;
}
.contato h1{
    font-size: 20px;
}
.contato h2{
    font-size: 15px;
    font-weight: 500;
}
.fale-conosco h1{
    font-size: 20px;
}















} /* Nada depois disso  */